
  body {
    background-color:#FFB3EC;
    background-size: cover;
    background-repeat: no-repeat;
  }

  header {
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100vw;
    padding-top: 40px;
    max-height: 200px;
  }

  nav {
    display: none;
  }

  #title {
    display: flex;
    color: rgb(255, 255, 255);
    align-self: center;
    justify-self: center;
    margin-left: 33%;
    font-size: 60px;
  }
  
  /*navigation button for mobile*/
  .navButton {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-right: 75px;
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    position: relative;
    z-index: 10;
  }
  
  /*lines in nav button*/
  .navButton > div {
    height: 5px;
    width: 100%;
    background-color: white;
    margin-top: 25px;
  }
  
  /*mobile menu*/
  #navBar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 0px;
    padding-top: 40vh;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, .5);
    transition: 0.5s;
    z-index: 5;
    text-align: center;
  }
  
  /* no bullets on mobile nav links*/
  #navBar > li {
    list-style-type: none;
    margin-bottom: 150px;
  }
  
  /* normal navigation links*/
  #navBar > li > a {
    margin-left: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 100px;
    padding: 40px 60px;
    background-color: rgba(255, 255, 255, 1);
    color: #FFB3EC;
    border-radius: 60px;
    text-decoration: none;
  }

